* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid lightgray;
}

.logo img{
    height: 45px;
    width: auto;
}

.nav-list{
    display: flex;
    list-style:none;
    gap:30px;
}

.nav-list li a {
    text-decoration: none;
    color:black;
    font-size:0.9rem ;
}
.nav-list li a:hover {
    color: royalblue;
}

.register-button {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}
.register-button:hover {
    background-color: darkblue;
}